@charset "utf-8";
body{
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-size: 110%;
	line-height: 1.5;
	font-family: 'Ubuntu', sans-serif;
}
a{
	text-decoration: none;
}
a:link, a:visited{

}
a:hover, a:active{

}
.body{
	background-color: #FFF;
}
header{
	font-family: 'Roboto Condensed', sans-serif;
}
.head-wrapper{
	width: 50%;
	display: inline-block;
	margin-left: 7.5%;
}
.header{
	background-color: #6565F3;
	font-weight: 300;
	/*padding: 4% 15% 0% 15%;*/
	margin-top: -2.5%;
	margin-left: -.6%;
	margin-right: -.6%;
}
.header h1{
	font-size: 280%;
	color: #FFF;
	padding: 2.5% 15% 0% 15%;
	margin-bottom: 1%;
	/*background-color: #d76;*/
}
.header h3{
	color: #FFF;
	/*background-color: #a76;*/
	font-weight: 300;
	margin-top: -1%;
	padding: 0% 15% 0% 15%;
	margin-bottom: 1%;
}
.logout-wrapper{
	display: inline-block;
	float: right;
	margin-right: 17%;
	margin-top: 9%;
}
.header p a:link,
.header p a:visited{
	font-size: 100%;
	color: #FFF;
}
.header p a:hover,
.header p a:active{
	text-decoration: underline;
}

.navbar{
	background-color: #1212E2;
	color: #FFF;
	width: 100%;
	font-weight: 400;
	height: 50px;
}
.navbar ul{
	list-style:none;
	padding: 0% 15%;
}
.navbar ul a{
	padding: 12px 2% 11px 12px;
	/*border-right-style: solid;
	border-right-color: #FFF;
	border-right-width: thin;*/
	display: inline-block;
	/*border-left-style: solid;
	border-left-color: #FFF;
	border-left-width: thin;*/
	width: 15%;
	text-align: center;
	color: #FFF;
	
	transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
}
#help{
	/*border-right-style: solid;
	border-right-color: #FFF;
	border-right-width: thin;*/
}
.navbar ul a:link,
.navbar ul a:visited{
	/*style if needed*/
}
.navbar ul a:hover,
.navbar ul a:active{
	background-color: #FF0080;
	
	transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
}
.active{
	background-color: #FF0080;
}
.navbar ul a li{
	text-align: center;
}
/*header over*/
.main-content{
	background-color: #FFF;
	padding: 3% 15% 1% 15%;
	overflow: hidden;
}

.sign-in{
	width: 45%;
	display: inline-block;
	float: left;
	padding-top: 2%;
	padding-bottom: 4%;
	border-color: #FF0080;
	border-style: solid;
	border-width: thin;
	border-radius: 15px;
	margin-right: 3%;
}
.sign-in header{
	 margin-top: -9%;
	 margin-left: 10%;
	 padding-bottom: 0%;
}
.content-in{
	margin-top: -5%;
	margin-right: 2%;
	margin-left: 10%;
	line-height: 1;
}
.form-label{
	font-size: 110%;
	color: #FF0080;
}
.label-desc{
	font-size: 85%;
	color: #666859;
	font-style: italic;
	letter-spacing: 1px;
	margin-top: -2%;
}
.errTag{
	background-color: #Ef0000;
	color: #FFF;
	width: 85%;
	border-radius: 7px;
	margin-top: 3%;
	text-align: center;
	padding: 1%;
}
.submit0{
	width: 88%;
	margin-top: 4%;
	transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	
}
.submit0:hover,
.submit0:active{
	background-color: #666859;
	border-color: #666859;
	color: #FFF;
	
	transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
}
#form-register{
	background-color:#FFF;
}
form input{
	border-radius: 15px;
	padding: 6% 3%;
	width: 80%;
	color: #FF0080;
	font-size: 130%;
	letter-spacing: 2px;
	border-style: solid;
	border-color: #D6D7D0;
}

/*.sign-up{
	width: 45%;
	display: inline-block;
	border-color: #FF0080;
	border-style: solid;
	border-width: thin;
	float: right;
}*/
.sign-up1{
	font-size: 110%;
	color: green;
}
.sign-up2{
	border-radius: 15px;
	padding: 6% 3%;
	width: 80%;
	color: #FFF;
	font-size: 130%;
	letter-spacing: 2px;
	border-style: solid;
	border-color: #FF0080;
	background-color: #FF0080;
	text-align: center;
	border-width: thin;
	
	transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
}
.sign-up2:hover,
.sign-up2:active{
	background-color: #FFF;
	color: #FF0080;
}
/* sign in ok*/
.pic{
	/*style if needed*/
}
.pic img{
	display: block;
	width: 50%
}
.learn-how{
	width: 45%;
	display: inline-block;
}
.content-header{
	font-size: 200%;
	color: #666859;
	font-family: 'Roboto Condensed', sans-serif;
}
.learn-article{
	color:#4B4B4B;
	text-align: justify;
}
/* strip 2 starts*/
#strip2{
	background-attachment: fixed;
	background-image: url('images/women.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 5%;
	padding: 15% 20%;
	color: #FFF;
	text-align: center;

}
#strip2 header{
	font-size: 160%;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 3%;
	text-shadow:1px 1px 1px black;
}
#strip2 content{
	text-shadow:1px 1px 1px black;
	line-height:2em;
}
#strip2 a div{
	background-color: #FF0080;
	width: 18%;
	padding: 1%;
	margin: 3% 40%;
	color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;
	border-color: #FF0080;
	border-width: thin;
	border-style: solid;
	
	transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
}
#strip2 a div:hover,
#strip2 a div:active{
	background-color: #FFF;
	color: #FF0080;
}
#strip3{
	padding: 3% 10%;
}
#strip3 header{
	
}
#strip3 footer{
	font-size: 85%;
	color: #FF0080;
	font-style: italic;
	margin-bottom:2%;
}
.entry{
	display: inline-block;
	width: 33%;
	margin-bottom: 3%;
}
.entry header{
	color: #000;
	font-size: 120%;
}
.entry img{
	width: 50%;
	margin: 3% 1%;
}
.entry ul{
	color: #707070;
}
.vn{
	padding: 3%;
	margin-right: 1%;
	display: inline-block;
	background-color: #FF0080;
	color: #FFF;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	border-color: #FF0080;
	border-width: thin;
	border-style: solid;
	transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
}
.sts{
	padding: 3%;
	margin-right: 1%;
	display: inline-block;
	background-color: #FFF;
	color: #FF0080;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	border-color: #FF0080;
	border-width: thin;
	border-style: solid;
	
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
}

.vn:hover,
.vn:active{
	background-color: #FFF;
	color: #FF0080;
}
.sts:hover,
.sts:active{
	margin-left: 3%;
}

#strip4{
	background-attachment: fixed;
	background-image: url('images/cup.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: auto;
	padding: 15% 20%;
	color: #FFF;
	text-align: center;
}
/*-----------------------------*/
#strip4 header{
	font-size: 160%;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 3%;
	text-shadow:1px 1px 1px black;
}
#strip4 content{
	text-shadow:1px 1px 1px black;
	line-height:2em;
}
#strip4 div{
	margin-top: 3%;
}
#lm{
	background-color: #FF0080;
	width: 18%;
	padding: 1%;
	margin-right: 3%;
	color: #FFF;
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	border-color: #FF0080;
	border-width: thin;
	border-style: solid;
	
	transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	
}
#gs{
	background-color: #FFF;
	width: 18%;
	padding: 1%;
	margin-left: 3%;
	color: #FF0080;
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	border-color: #FF0080;
	border-width: thin;
	border-style: solid;
	
	transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
}
#gs:hover,
#gs:active{
	color:green;
	border-color: green;
}
#lm:hover,
#lm:active{
	color:#FF0080;
	border-color: #FF0080;
	background-color: #FFF;
}
/*----------------------------*/
#foot{
	background-color: #9B004E;
	color: #FFF;
	padding:5% 5% 1% 5%;
}
#foot ul{
	border-left-width: thin;
	border-left-color: #FFF;
	border-left-style: solid;
	width: 30%;
	list-style: none;
	padding: 3% 3%;
	margin-left: 5%;
	display: inline-block;
}
#foot a{
	color: #FFF;
}
#foot h2{
	text-align: right;
	padding-right: 10%;
	font-size: 200%;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 1%;
}
#foot footer{
	text-align: right;
	padding-right: 10%;
	font-size: 80%
}